@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --heading-color: #444;
  --text-color: #999;
  --primary-color: #129da4;
  --highlight-color: #fc5b56;
  --bg-color: #f4f4f4;
}

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
}

.primaryBtn {
  @apply cursor-pointer inline-flex items-center px-6 py-2 border border-primary rounded-md shadow-sm text-sm font-medium text-primary bg-teal-50 hover:bg-teal-50 hover:border-primary;
}

.secondaryBtn {
  @apply inline-flex items-center px-6 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-secondary-100 hover:bg-red-100 hover:text-red-400 hover:border-secondary-100;
}

.dashboardBtn {
  @apply cursor-pointer relative inline-flex items-center w-full  px-6 py-2   rounded-md shadow-sm text-sm font-medium text-white  hover:bg-primary hover:border-primary focus:bg-primary focus:border-primary mt-2;
}

.addBtn {
  @apply inline-flex items-center px-6 py-2  mx-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-400 hover:bg-red-100 hover:text-red-400 hover:border-red-400;
}

.card {
  @apply bg-white border-gray-200 shadow-md overflow-hidden relative border-2 w-56 h-56 rounded-xl;
}

.badge {
  @apply bg-green-200 px-2 py-1 rounded-xl w-1/2 text-sm;
}
.link {
  @apply text-base text-right mt-4 pr-8 underline text-primary;
}
